@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin-top: 0;
  background-color: #1d1e18;
  color: white;
  font-family: poppins;
}

body::-webkit-scrollbar {
  width: 0.5em;
  
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
}

body::-webkit-scrollbar-thumb {
  background-color: #b9f5d8;
outline: 1px solid slategrey;
border-radius: 10px;
}

textarea::-webkit-scrollbar {
  width: 0.5em;

}

textarea::-webkit-scrollbar-track {
  background-color: transparent !important;
}

textarea::-webkit-scrollbar-thumb {
 
  align-items: center !important;
  background-color: #6b8f71;
  outline: 1px solid rgba(112, 128, 144, 0);
  border-radius: 10px;
}

h1{
  font-size: 250%;
}

h2{
  height: 41px;
  font-size: 200%;
}

nav {
  margin: 0 auto; 
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  border-radius: 50px;
  margin-top: 10px;
  align-items: center;
  grid-template-columns: 1fr 20fr; 
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  backdrop-filter: blur(8px) saturate(180%);
  background-color: #191a15b4;
  z-index: 1000;
  
}

nav i::before{
  display: none;
}

nav h2{
  background: linear-gradient(to right ,#6b8f71,#aad2ba, #d9fff5, #9c528b); /* Gradient color */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
  padding-left: 40px;
  margin:0;
}

nav li{
  float: right;
  list-style: none;
  display: inline;
  padding: 0;
}

nav li a{
  font-weight: 600;
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  margin-right: 20px;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  background-color: #6b8f71;
}


nav a:link{
  text-decoration: none;
  color: white;
}

nav a:visited{
  text-decoration: none;
  color: white; 
}

nav li a:hover{
  background-color: #98bb9e;
}

header {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 100%;
}

header h1 {
  text-align: center;
  width: 100%;
}

section {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
}

#hand {
  display: inline-block;
  animation-name: handmove;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#curriculum {
  margin-top: 150px;
}

#skills{
  margin-top: 150px;
}

#form_email{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

#form_email label{
  display: none;
}


#send{
  all: unset;
  font-weight: 600;
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
margin: auto;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  background-color: #6b8f71;
  width: 130px;
  color: white;
  bottom: 0;
}

#send:hover{
  background-color: #98bb9e;
}

.right {
  text-align: center;
}

.left {
  margin-top: 70px;
}

.interest-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  padding: 0;
  height: 450px;
  margin-top: auto;
  margin-bottom: auto;
  justify-items: center;
}


.split-elements {
  margin-top: 50px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 25px;
  columns: var(--sides);
}

.contact-split{
  grid-template-columns: 1fr 1.5fr;
  width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.left-contact{
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: auto ;
  min-width: 200px;
}

.left-contact h2{
margin-left: 20px;
}

.left-contact ul{
  padding: 0;
  margin-left: 0px;
}

.left-contact li{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.left-contact li span:nth-child(2) {
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.left-contact li span:nth-child(1){
  margin-right: 10px;
}

.left-contact a{
  color: #aad2ba;
  font-weight: bold;
  text-decoration: none;
}

.left-contact a:visited{
  color: #7d84b2;

}


.left-contact input{
  width: 90%;
  outline: none;
  border: none;
  padding: 10px;  
  font-size: 110%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left-contact input::placeholder{
  font-size: 100%;
}

.left-contact input:focus{
  border: 1px solid #B9F5D8;
  outline: none;
  outline-offset: 0px;
}

.right-text-area textarea{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
  margin-left: 10px;
  margin-right: auto;
  font-family: poppins; 
  outline: none;
  padding: 10px;
  font-size: 110%;
  transition: width 0.4s ease-in;
  resize: none;
  min-width: 200px;
}

.right-text-area textarea::placeholder{
  padding: 0px;
  font-family: poppins;
}


.right-text-area textarea:focus{
  width: 125%;
  outline: none;
  font-size: 110%;
}

.vertical-sep {
  height: auto;
  width: 0px;
  border: 1px solid #D9FFF5;
  margin: 10px;
  content: "";
  border-radius: 5px;
}

#contact{
  margin-bottom: 300px;
}

#contact li{
  list-style: none;
    padding: 10px;
}

.interest-list li{
  height: 25px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 70px; 
  height: 70px; 
  background-color: #9C528B;
  border-radius: 10px;
  padding: 10px; 
  margin: auto; 
  text-align: center;
  transition: transform 0.6s ease;
  transform-origin: center center;
}

.interest-list li:hover{
    transform: rotate(25deg); 
}

.skills-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
    column-gap: 50px;
    justify-items: center;
    width: 80%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
 
.skills-list ol{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.skills-list ul{
  min-width: 500px;
    display: grid;
    grid-template-columns: 1fr;  
}

.skills-list ul div p::after{
    content: attr(content);
}

.skills-list li{
    height: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 70px; 
    height: 70px; 
    background-color: #6b8f71;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px; 
    text-align: center;
}

.interest-list span {
  text-align: center;
}

.curriculum-list{
  display: grid;
  grid-row: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.curriculum-list h3{
  color: #AAD2BA;
  font-size: 140%;
  margin-bottom: 0px;
}

.curriculum-list h3:nth-child(2){
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 115%;
}

.curriculum-list h4{
  color: #B9F5D8;
  margin-top: 10px;
  font-size: 100%;
}

.curriculum-list li{

  list-style: none;
  margin-top: 100px;
  margin-bottom: 100px;
}

.barra{
  margin-left: 10px;
  margin-right: 10px ;
    width: auto;
    height: 5px;
    border-radius: 10px;
    background-color: white;
}

.right iframe{
  border-radius: 10px;
  filter: invert();
}


.icon i {
  justify-content: center;
  width: 40px;
  font-size: 30px;
  text-align: center;
}

.fade-up {
  animation-name: fade-up;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.fade-left {
  animation-name: fade-left;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.fade-right {
  animation-name: fade-right;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}


.visible{
    opacity: 1;
    color: white;
}

.not-visible{
    opacity: 0;
}

@keyframes handmove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(135%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes rotate-move{
  from{
    transform: -webkit-rotate(0deg);
    transform: translateX(0px);
  }
  to{
    transform: -webkit-rotate(45deg);
    transform: translateX(15px);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes scroll-animation {
  to {
    transform: scale(1 1);
  }
}

@keyframes fade-left{
  from {
    opacity: 0;
    transform: translateX(-200px) scale(1);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-right{
  from {
    opacity: 0;
    transform: translateX(200px) scale(1);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}


