:root{
    font-family: nunito;
}

body{
    font-family: var(--main-font);
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    background-size: cover;
}

#main_container{
    margin-top: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto; 
    width: fit-content;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px;
}

#main_container img{
    margin-top: 15px;
    width: 250px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper_text h1{
    margin-top: 30px;
}

@media (max-width: 800px) {
    #main_container {
        grid-template-columns: 1fr;
        margin-top: 200px;
    }
}